* {
  margin: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

.main-container {
  background-color: #8DD9E0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #E2FAFD;
}

.logo {
  position: fixed;
  top: 40px;
  left: 50px;
  width: 170px;
  z-index: 1000;
}

.title-wrapper {
  
  margin-left: 10rem;
  margin-top: 20rem;
  line-height: 0;
  font-size: 0;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 7rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 0.85; 
  display: block;
}

.title-mirror {
  font-size: 7rem;
  font-weight: 700;
  transform: scaleY(-1);
  opacity: 0.52;
  color: #E2FAFD;
  margin: 0;
  padding: 0;
  line-height: 0.85; 
  display: block;
}

.subtitle {
  font-size: 1.5rem;
  margin-left: 10.5rem;
  margin-bottom: 3rem;
  max-width: 600px;
  line-height: 1.6;
  font-weight: 600;
}

.start-button {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.42) 32%,
    rgba(255, 255, 255, 0.86) 86%
  );
  padding: 1rem 3rem;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  margin-left: 12rem;
  transition: all 0.3s ease;
}

.start-button:hover {
  transform: scale(1.05);
}

.arrow-circle {
  background: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.arrow-icon {
  width: 20px;
  height: 20px;
}

.background-logo {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  z-index: 0;
  margin-right: 8rem;
}

.mainplanet {
  position: absolute;
  right: 8%;
  top: 14%;
  width: 630px;      
  z-index: 1;    
  right: 10%;;   
  pointer-events: none; 
  user-select: none;
}
